<div class="container mt-5 mb-5">
    <h1>Contact Us</h1>
    <p>For more contact look for us in there following social medias:</p>
    <div class="row">
        <div class="card m-3" style="width: 18rem;">
            <img src="./../../../assets/img/WhatsApp Image 2023-10-05 at 2.02.58 AM.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <a href="#" class="btn btn-dark">Facebook</a>
            </div>
        </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="./../../../assets/img/Screenshot (482).png" class="card-img-top mt-4" alt="...">
            <div class="card-body">
            <a href="#" class="btn btn-dark mt-4">Whatsapp</a>
            </div>
        </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="./../../../assets/img/instagram_profile.png" class="card-img-top" alt="...">
            <div class="card-body">
            <a href="#" class="btn btn-dark">Instagram</a>
            </div>
        </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="./../../../assets/img/youtube_channel.png" class="card-img-top mt-3" alt="...">
            <div class="card-body">
            <a href="#" class="btn btn-dark">Youtube</a>
            </div>
        </div>
    </div>
    <!-- <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter First Name">
            </div>                                                                                          
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Last Name">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Email ID">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Phone Number">
            </div>
            <div class="col-lg-12 mt-2">
                <button class="btn btn-md btn-dark">Submit</button>
            </div>
        </div>
    </form> -->
</div>